<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Loera Rifas Web SA. de C.V.</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">         Loera Rifas</div>
        <div class="menu-button">
            <span></span>
        </div>
        <ul class="menu" id="menu">
            <li><a href="{{ path('app_defaul') }}">Página Principal    .</a></li>
        </ul>
    </nav>

    
    <div class="content">
        <p>
            SPIN<br>
            <span class="highlight">728969000075561803</span><br>
            BBVA<br>
            <span class="highlight">4152314246012614</span>
        </p>
    </div>

</body>
</html>
